# LOGISTIC REGRESSION - suv

A car company has released a new SUV in the market, using the previous data about the sales of their SUV's, they want to predic the category of people who might be interested in buying this

what factor made people more interested in buying SUV?

In [1]:
#collect data and import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('suv_data.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [4]:
x = df[['Age', 'EstimatedSalary']]
y = df['Purchased']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
model = LogisticRegression(random_state=0)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [9]:
metrics.accuracy_score(y_test,y_predict)*100

89.0